<!-- ####################################################################### -->
<!-- DIV 1: VIDEO -->
<div class="homepage-hero-module">
    <div class="title-container">
        <div class="headline">
            <h1 class="video-heading">Enjoy any Occasion</h1>
            <h3 class="video-subheading">Borrow Clothes &amp; Enjoy Your Favourite Events</h3>
        </div>
    </div>
 <div class="video-container">
        <div class="filter"></div>
        <%= video_tag (['clothing.mp4', 'clothing.webm']) %>
        <video autoplay loop class="fillWidth">
            <source src="/assets/clothing.mp4" type="video/mp4"/>Your browser does not support the video tag. I suggest you upgrade your browser.
            <source src="/assets/clothing.webm" type="video/webm"/>Your browser does not support the video tag. I suggest you upgrade your browser.
        </video>
        <div class="poster hidden">
            <%= image_tag 'clothing.jpg' %>
        </div>
    </div>
</div>
<!-- ####################################################################### -->
<div class="home-content">
  <div class="col-xs-12 content-1">
    <h2>Find clothes close to you for any occasion</h2>
  </div>
  <div class="home-content-1">
    <div class="row home-row-1">

      <div class="col-xs-12 col-md-6 home content-1">
        <h3>What kind of clothes do you want to wear today?</h3>
        <p>Need a nice suit for a wedding; a sport jacket for a golf club event?</p>
        <p>There are hundreds of real people’s clothes of all types of occasion.</p>
        <p>Book instantly, and get the clothes and meet the Owner.</p>
        <li><%= link_to 'Sign up', new_user_path %></li>
      </div>
      <div class="col-xs-12 col-md-6 home content-2">
        <%= image_tag( 'perchero.jpg', :class => 'clothes-rack') %>
      </div>
    </div><!-- end row -->
  </div><!-- end home-content-1 -->

</div>
