@import "variables";
/* ========== Sign Up Form Edit Profle form ================ */
.wrapper {
    width: 90%;
    max-width: 295px;
    padding: 40px;
    margin: 0 auto;
    background-color: $white;
    box-shadow: 0 0 3px $grey;
}
.container-form {
    // width: 100%;
    // color: $white;
    // padding: 50px;
    .form {
        width: 100%;
        margin: auto;
        font-family: $ubuntu;
        h1 {
            text-align: center;
        }
        .form-row {
            margin-bottom: 20px;
            input[type="text"] {
                color: $primary;
                &:active,
                &:focus {
                    outline: none;
                    border: $border solid $third;
                }
            }
        }
        .input-group {
            //position: relative; to put the label on top of the input
            position: relative;
            margin-bottom: 32px;
            input[type="email"],
            input[type="password"],
            input[type="text"] {
                font-family: $ubuntu;
                font-size: $p16;
                color: $primary;
                width: 220px;
                outline: none;
                padding: 15px;
                background-color: none;
                border: none;
                border-bottom: $border solid $primary;
                &:active,
                &:focus {
                    outline: none;
                    border-bottom: $border solid $third;
                }
                // &:error {
                //     border-bottom: $border solid $red;
                //     label {
                //         color: $red;
                //     }
                // }
            }
            label {
                color: $primary;
            }
            .label {
                position: absolute;
                top: 16px;
                left: 0;
                font-size: $p16;
                line-height: 16px;
                margin-left: 16px;
                transition: all 0.3s ease;
            }
            .active {
                top: -12px;
                font-size: 12px;
                line-height: 12px;
                color: $primary;
            }
        }
        .radio {
            input[type="radio"] {
                display: none;
                &:checked + label:before {
                    display: none;
                }
                &:checked + label {
                    padding: 5px 15px;
                    background-color: $secondary;
                    border-radius: $border;
                    color: $white;
                }
            }
        }
        .checkbox {
            label:before {
                border-radius: 3px !important;
            }
            input[type="checkbox"] {
                display: none;
                &:checked + label:before {
                    display: none;
                }
                &:checked + label {
                    padding: 5px 15px;
                    background-color: $secondary;
                    border-radius: $border;
                    color: $white;
                }
            }
        }
        .checkbox label,
        .radio label {
            display: inline-block;
            cursor: pointer;
            color: $secondary;
            position: relative;
            padding: 5px 15px 5px 51px;
            font-size: 1em;
            border-radius: 3px;
            transition: all 0.3s ease;
            &:hover {
                background-color: rgba($secondary, 0.5);
            }
            &:before {
                content: "";
                display: inline-block;
                width: 17px;
                height: 17px;
                position: absolute;
                left: 15px;
                border-radius: 50%;
                background: none;
                border: $border solid $secondary;
            }
            &:error {
                color: $red;
            }
        }
        .error {
            label {
                color: red;
            }
        }
        input[type="file"],
        input[type="submit"] {
            background-color: $secondary;
            border-radius: 1px;
            border: $border solid $white;
            color: $white;
            cursor: pointer;
            padding: 15px;
            width: 100%;
            transition: all 0.3s ease;
            &:hover {
                background-color: $third;
            }
        }
    }
}
/* ========== Login Form ================ */
.login {
    text-align: center;
    background-color: $secondary;
    padding: 10px 0;
    font-family: $ubuntu;
    color: $fourth;
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            a {
                @include link-menu;
                margin-left: 40px;
            }
        }
    }
    input {
        border: none;
        // border-bottom: 1px solid $primary;
        background-color: $secondary;
        &::-webkit-input-placeholder {
            color: $fourth;
            text-align: center;
        }
    }
    input[type="submit"] {
        background-color: $secondary;
        border-radius: 1px;
        color: $white;
        cursor: pointer;
        transition: all 0.3s ease;
        &:hover {
            background-color: $third;
        }
    }
}
/* ========== Payment Form ================ */
.container-form {
    .confirmed {
        text-align: center;
        background-color: $secondary;
        color: $third;
        h2 {
            padding: 20px;
        }
    }
    .form {
        text-align: center;
    }
    .payment-errors {
        text-align: center;
        color: $third;
    }
}
