@import "variables";
/* ========== Sign Up Form Edit Profle form================ */
/* DIV 1: VIDEO */
.title-container {
    z-index: 1000;
    position: absolute;
    top: 35%;
    width: 100%;
    text-align: center;
    color: $secondary;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px;
}
.video-heading {
    font-weight: 600;
    text-transform: uppercase;
    font-size: 5em;
}
.video-subheading {
    font-weight: 300;
    font-size: 2em;
}
.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: relative;
    //margin-top: -3vw;
}
.no-video .video-container video,
.touch .video-container video {
    display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
    display: block !important;
}
.video-container {
    position: relative;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
}
.video-container .filter {
    z-index: 100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
}
.video-container video {
    position: absolute;
    z-index: 0;
    top: 0;
}
.video-container video.fillWidth {
    width: 100%;
}
/*---------------------------------------------------------------------------*/
/* DIV 2 */
.homepage-content {
    background-color: #FFFFFF;
    min-height: 125vh;
    position: relative;
    /* Allows me to manipulate absolute postioned child elements */
}
//------------------------------- home ---------------------------------------------//
.content-1 {
    text-align: center;
    h2 {
        font-size: $h2;
    }
}
