@import "variables";
/* ========== Sign Up Form Edit Profle form================ */
/* DIV 1: VIDEO */
.home-0 {
    .homepage-hero-module {
        border-right: none;
        border-left: none;
        position: relative;
        //margin-top: -3vw;
        .title-container {
            z-index: 1000;
            position: absolute;
            top: 35%;
            width: 100%;
            text-align: center;
            color: $secondary;
            background-color: rgba(0, 0, 0, 0.4);
            padding: 40px;
            .video-heading {
                font-weight: 600;
                text-transform: uppercase;
                font-size: 5em;
            }
            .video-subheading {
                font-weight: 300;
                font-size: 2em;
            }
        }
        .no-video .video-container video,
        .touch .video-container video {
            display: none;
        }
        .no-video .video-container .poster,
        .touch .video-container .poster {
            display: block !important;
        }
        .video-container {
            position: relative;
            bottom: 0;
            left: 0;
            height: 550px;
            width: 100%;
            overflow: hidden;
        }
        .video-container .poster img {
            width: 100%;
            bottom: 0;
            position: absolute;
        }
        .video-container .filter {
            z-index: 100;
            position: absolute;
            background: rgba(0, 0, 0, 0.4);
            width: 100%;
        }
        .video-container video {
            position: absolute;
            z-index: 0;
            top: 0;
        }
        .video-container video.fillWidth {
            width: 100%;
        }
    }
}
/*---------------------------------------------------------------------------*/
/*========= home section 1 and 2 =======*/
.home-content-1 {
    text-align: center;
    padding: 15px 0;
    background-color: $white;
    h2 {
        font-size: $h2;
    }
}
.home-content-2,
.home-content-3 {
    background-color: rgba($primary, 0.9); //rgba( $ayellow, .7 );
    color: $white;
}
.content-1,
.content-4 {
    margin: 75px 0;
    line-height: 3;
    text-align: center;
    li {
        list-style-type: none;
        a {
            @include button;
            line-height: 3;
        }
    }
}
.content-2,
.content-3 {
    margin: 35px 0;
}
/*========= home section 3 Testimonial =======*/
.home-3 {
    padding: 15px 0;
    .testimonials {
        width: 85%;
        margin: auto;
        overflow: hidden;
        ul {
            display: flex;
            padding: 0;
            width: 300%;
            animation: change 20s infinite;
            animation-direction: alternate-reverse;
            li {
                .glyphicon {
                    color: $third;
                }
                .ptestname {
                    color: $secondary;
                    text-align: center;
                    font-size: $p20;
                    line-height: normal;
                }
                h3 {
                    color: $primary;
                    text-align: center;
                    font-size: $p20;
                    line-height: normal;
                }
                width: 100%;
                list-style: none;
                &:before {
                    content: "“";
                    color: $secondary;
                    display: inline;
                    font-size: 200px;
                    font-family: proxima_novalight;
                    position: absolute;
                    line-height: 80px;
                    left: 0;
                    top: 0;
                    opacity: 0.1;
                    margin: 0;
                }
                &:after {
                    content: "„";
                    color: $secondary;
                    display: inline;
                    font-size: 200px;
                    font-family: proxima_novalight;
                    position: absolute;
                    line-height: normal;
                    right: 0;
                    bottom: 0;
                    opacity: 0.1;
                    margin: 0;
                }
            }
        }
    }
    @keyframes change {
        0% {
            margin-left: 0;
        }
        30% {
            margin-left: 0;
        }
        35% {
            margin-left: -100%;
        }
        65% {
            margin-left: -100%;
        }
        70% {
            margin-left: -200%;
        }
        100% {
            margin-left: -200%;
        }
    }
}
