@import "variables";
/*========= GENERAL =======*/
body {
    p {
        font-family: $noto;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: $ubuntu;
    }
}
/*========= HEADER =======*/
header.navbar {
    background-color: $primary !important;
    margin: 0 !important;
    border: none;
    border-radius: 0;
    color: $fourth;
    padding: 15px 0;
    nav {
        margin-top: 45px;
        text-align: center;
        a {
            @include link-menu;
        }
    }
    .sign-form {
        padding-top: 40px;
    }
}
.tst {
    height: 30px;
    background-color: $third;
}
.edit-user {
    h1 {
        text-align: center;
    }
    .container-terms {
        @include terms;
    }
}
.sign-page {
    padding-top: 130px;
    .container-terms {
        @include terms;
    }
}
/*========= HEADER =======*/
td {
    border-bottom: 1px solid #ddd;
}
