@import "variables";
/*========= HEADER =======*/
header.navbar {
    background-color: $pink !important;
    margin: 0 !important;
    border: none;
    border-radius: 0;
}
.login {
    text-align: center;
    background-color: $primary;
    padding: 20px 0;
}
.sign-form {
    padding-top: 40px;
}
