<div class="search-product-form">
    <div class="search-wrap">
        <!-- search by keywords -->
        <%= form_tag search_results_path, method: 'get' do %>
        <%= text_field_tag :search_keywords, nil, placeholder: "enter keyword", :class => 'search-input' %>
        <%= submit_tag "search", :class => 'search-button' %>
        <% end %>
    </div>
</div>
