

<%= form_for [@product, Booking.new], :html => { :class => "form" }  do |f|%>
      <div>
        <%= f.text_field :start_time, class:"datepicker" %>
      </div>
      <div>
        <%= f.text_field :end_time, class:"datepicker" %>
      </div>
    <%= f.submit 'submit', :class => 'submit' %>
<% end %>
