<div class="container">
  <div class="product-edit">
    <div class="row">
      <div class="col-xs-12 product-new-header">
        <h1>Edit Product</h1>
      </div><!-- end product-header -->
      <%= render "products/form" %>
    </div><!-- end row -->
  </div><!-- end product-edit -->
</div><!-- end container -->
