<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 foo social">
        <%= fa_icon "facebook-square", base: "square", class: "fa fa-2x" %>
        <%= fa_icon "twitter-square", class: "fa-2x" %>
        <%= fa_icon "instagram", base: "square", class: "fa fa-2x" %>
        <%= fa_icon "linkedin-square", base: "square", class: "fa fa-2x" %>

      </div>
      <div class="col-xs-12 col-md-4 foo footer-1">
        <h6>OWNERS</h6>
        <ul>
          <li>How Does it Work</li>
          <li>FAQ &amp; Support</li>
          <li>Terms &amp; Conditions</li>
          <li>Sign Up</li>
        </ul>
      </div><!-- end footer-1 -->
      <div class="col-xs-12 col-md-4 foo footer-2">
        <h6>RENTERS</h6>
        <ul>
          <li>How Does it Work</li>
          <li>FAQ &amp; Support</li>
          <li>Terms &amp; Conditions</li>
          <li>Sign Up</li>
        </ul>
      </div><!-- end footer-2 -->
      <div class="col-xs-12 col-md-4 foo footer-3">
        <h6>PRESTADO</h6>
        <ul>
          <li>Careers</li>
          <li>Media</li>
          <li>About Us</li>
          <li>Contact</li>
        </ul>
      </div><!-- end footer-3 -->

    </div><!-- end row -->
  </div><!-- end container -->
</footer>
